html
head
   title register
   body
      form(action = "/register", method = "get")
      div
         label(for = "username") Name: 
         input(name = "username")
      br
      div
         label(for = "password") password: 
         input(name = "password")
      br
     
      button(type = "submit" ) Create new person